.title {
  text-align: center;
}

body {
  background-color: rgb(183, 137, 226);
}

.content {
  background-color: rgba(108, 109, 184, 0.795);
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}

.footer {
  background-color: #945589;
  padding: 10px;
}

/* Nav menu styling */
.topnav {
  overflow: hidden;
  background-color: rgb(207, 20, 20);
  position: relative;
}

/* Hide links within menu */
.topnav #myLinks {
  display: none;
}

/* Nav links styling */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Hamburger menu styling */
.topnav a.icon {
  background: rgb(49, 163, 138);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Mouse over color */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Active link styling */
.active {
  background-color: #1ac731;
  color: white;
}